*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.text-primary{
    color:  #FD6E0A
}
.btn-primary{
    color: rgb(252, 253, 255);
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* header & nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

/* Banner Style */

.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-dis{
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}
/* Main Section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About section style */

.about{
    margin-top: 130px;
    text-align:u center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title{
    text-align: center;
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-dis{
    color: #757575;
    font-size: 18px;
    margin-bottom: 60px;
}
.about-info-con{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-des{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

/* What i do sttyle */

.skills{

    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(88, 1, 1, 0.06);
    border-radius: 5px;
    padding: 40px;
}
.skills-con{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin: 30px;
    margin-bottom: 20px;
    
}
.skill-des{
    color: #757575;
    
}

/* Resume style */

.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 15px;
}
.resume-sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .des{
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}